.App{
font-size: 2.4rem;
padding-left: 4rem;
padding-right: 4rem;
padding-top: 2rem;
}

.container{
  display:flex;
  justify-content: space-around;
  align-items: flex-start;
  align-content: center;

 
}
.container > div > div {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
  
}



table {
  padding-top: 2rem;
  border-collapse: collapse;
  border: 1px solid var(--primary-text-color);
}

td, th {
  border: 1px solid var(--primary-text-color);
  padding: 0.5rem;
  text-align: center;
}

