:root {
  --primary-text-color : #0F1419;
  --secondary-text-color : #536471;

  --primary-background-color: #ffffff;
  --secondary-background-color: #536471;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; 
  /* // 1rem = 10px, 10px/16px = 62.5% */
  
  
  
}




  @media  screen and (min-width: 769px){
   html{
     font-size: 27.5%;
   } 
  }

   @media  screen and (min-width: 800px){
   html{
     font-size: 33.5%;
   } 
  }

   @media  screen and (min-width: 1000px){
   html{
     font-size: 45.5%;
   } 
 }

  @media  screen and (min-width: 1440px){
   html{
     font-size: 56.5%;
   } 
 }




    @media   screen and (max-width: 768px){
   html{
     font-size: 35.5%;
   } 
  }

  @media  screen and (max-width: 700px){
 html{
   font-size: 27.5%;
 } 
}
  @media  screen and (max-width: 450px){
   html{
     font-size: 15.5%;
   } 
  }




body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);



  min-height: 100vh;
}